---
import Layout from '../layouts/Layout.astro';

import Dither from '../components/Dither.tsx';
import Glass from '../components/Glass.tsx';
---

<Layout>
  <Dither client:only />
  <!-- <Glass className="w-fit h-fit py-2 px-4 min-w-md min-h-md top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none text-white"> -->
  <!--   <div class="flex flex-col"> -->
  <!--     <h1 class="text-5xl">givensuman</h1> -->
  <!--     <div class="flex flex-row justify-center space-x-6 text-2xl mt-4"> -->
  <!--       <a>github</a> -->
  <!--       <a>blog</a> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </Glass> -->
</Layout>

