---
import { Cpu } from 'lucide-react';

interface Props {
  seed: string;
}

const { seed } = Astro.props;
---
<h3 class="with-backdrop flex flex-row place-content-center space-x-1 max-w-fit absolute bottom-2 right-2">
  <Cpu size={20} />
  <span>{seed}</span>
</h3>
