---
import Dither from '../components/Dither.tsx';
import '../styles/global.css';

interface Props {
  title?: string;
}

const { title = "givensuman" } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{title}</title>
	</head>
	<body class="h-screen w-screen relative bg-neutral-900">
    <slot />
	</body>
</html>
